/* Container */
body{
    display: flex;
    flex-direction: column;
}
.container{

}
/* searchable select Style */
  .main_select{
    margin:1rem;
    max-width:250px;
    width:100%;
    height:250px;
    float: right;
  }
  @media(max-width:34em){
    .main{
      min-width:150px;
      width:auto;
    }
  }
  select {
      display: none !important;
  }
  .dropdown-select {

      background-color: #5191cd;
      border-radius: 6px;
      border: solid 1px #eee;
      box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      float: right;
      font-size: 14px;
      font-weight: normal;
      height: 50px;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-top: 5px;
      padding-right: 30px;
      position: relative;
      text-align: center !important;
      transition: all 0.2s ease-in-out;
      user-select: none;
      white-space: nowrap;
      margin-bottom: 44px;
      color: #fff;
      width: auto;
  }
  /*.dropdown-select:focus {*/
  /*    background-color: #fff;*/
  /*}*/
  /*.dropdown-select:hover {*/
  /*    background-color: #fff;*/
  /*}*/
  
  .dropdown-select:active{
      color: white;
      border-color: #bbb;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  }
  .dropdown-select.open {
    color:black;
      border-color: #bbb;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  }
  .dropdown-select:after {
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #777;
      transform: origin(50% 20%);
      transition: all 0.125s ease-in-out;
      content: '';
      display: block;
      color: black;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;

  }
  .dropdown-select.open:after {
      transform: rotate(-180deg);
  }
  .dropdown-select.open .list {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
  .dropdown-select.open .option {
      cursor: pointer;
  }
  .dropdown-select.wide {
      width: 100%;
  }
  .dropdown-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  .dropdown-select .list {
      box-sizing: border-box;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
      transform: scale(0.75);
      transform-origin: 50% 0;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
      background-color: #fff;
      border-radius: 6px;
      margin-top: 4px;
      padding: 3px 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ddd;
  }
   .dropdown-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
   .dropdown-select .dd-searchbox{
    width:90%;
    padding:0.5rem;
    border:1px solid #999;
    border-color:#999;
    border-radius:4px;
    outline:none;
    text-align: right;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color:#12CBC4;
  }
  .dropdown-select .list ul {
      padding: 0;
  }
   .dropdown-select .option {
      cursor: default;
      font-weight: 400;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: right;
      transition: all 0.2s;
      list-style: none;
  }
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
      background-color: #f6f6f6 !important;
  }
  .dropdown-select .option.selected {
      font-weight: 600;
      color: #12cbc4;
  }
  .dropdown-select .option.selected:focus {
      background: #f6f6f6;
  }
  .dropdown-select a {
      color: #aaa;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  }
  .dropdown-select a:hover {
      color: #666;
  }
