#header {
    /*background: #f00;*/
    /*border-bottom: 1px solid #bab6b6;*/
    height: 61px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ecf0f6;
    justify-content: flex-end;
}

#header button{

    margin-top: 12px;
    margin-left: 15px;
    background-color: #5191CD;
    border: 1px #5191CD solid;
    color: white;
    font-size: 29px;
    height: 42px;
    width: 42px;
    border-radius: 5px;
}

#header img{
padding-right: 55px;
height: 55px;
flex-basis: 12%;
}