.report-user-entry-container{
    border: #cecece 1px solid;
    background-color: #fff;
    border-radius: 5px;
    width: 97%;
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.HR-entryexit_deta{
    border: #cecece 1px solid;
    background-color:#cacaca42;
    border-radius: 5px;
    width: 97%;
    margin: 20px;
}
.HR-entryexit_deta-container{
    display: flex;
    justify-content: center;
}

.date-selection{
    display: flex;
    justify-content: center;
}
.day{
    border-radius: 5px;
    width: 96%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: white;
    background-color: #4ebda6;
    margin-top: 10px;
}
.day i{
    display: flex;

}

.card1{
    margin: 17px 0px 0px 17px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #cecece;
    width: 100%;
    height: 237px;
    background-color: snow;F
}

.form-control{
    line-height: 45px!important;
    text-align: center;
}
.vpd-icon-btn{
    text-align: center;
}
.entryexitbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    background-color:  #5191cd;
    color: white;

}

.statistics{

    border: #cecece 1px solid;
    background-color: #fff;
    border-radius: 5px;
    width: 97%;
    margin: 20px;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

.date-picker{

}

.vpd-input-group {
    display: flow-root!important;;
    border-radius: 5px!important;
    /* width: 86%; */
    margin-top: 12px;
    /* height: 60px; */
    position: relative;!important;}


/*.vpd-icon-btn{*/
/*    background-color: #4ebda6!important; ;*/
/*}*/

.vpd-input-group input{
    font-size: 29px !important;
}
.vpd-header{
    background-color: #5191cd !important ;
}

.vpd-actions button{
    color:  #5191cd !important;
}

.form-control{
    border-radius:0px !important;
}

.knob{
font-size: 250% !important;
color: #5191cd !important;
    margin-left: 0px!important;
    margin-top: 0px !important;

}
.demo{
    float: none !important;
    text-align: center!important;
    /*width: 50% !important;*/
}
.demo div{
    display: flex !important;
    width: 100% !important;
    justify-content: center!important;
    align-items: center !important;
    height: 91% !important;
}

canvas{
    width: 60% !important;
    height: 94%!important;}



.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: auto;
}
.counter_up_wrapper{
    padding-top: 120px;
}
.all_items{
    border: 1px solid   #cecece ;
    border-radius: 5px;
    background-color:#e4e4e442;
    /*display: grid;*/
    /*grid-template-columns: 25% 25% 25% 25%;*/
    margin-bottom: 43px;
}
.single_counter_item{
    text-align: center;
}
.single_counter_item h4{
    color:  #5191cd;
    font-size: 20px;
    line-height: 90px;
}
.single_counter_item h3{
    color: #000;
    font-size: 36px;
    line-height:90px;
}

