body {
    margin-top: 20px;
    color: #1a202c;
    /* text-align: left; */
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100% !important;
}
.shadow-none {
    box-shadow: none !important;
}
.badge {
    margin-right: 8px;
}
.edit-button {
    border-radius: 6px;
    background: #5191cd;
    color: white;
    border: none;
    width: 68px;
    height: 30px;
}
hr {
    /* width: 50%; */
}
.gender-img {
    width: 50px;
    height: 50px;
}
html,
body {
    min-height: 100%;
    margin: 0;
}
.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
    font-size: 18px;
    color: #60666d;
}
@media (min-width: 768px) {
    .select-box {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .select-box {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .select-box {
        width: 30%;
    }
}

html,
body {
    min-height: 100%;
    margin: 0;
}
body {
    /* padding: 30px; */
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-sizing: border-box;
}
.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
    font-size: 16px;
    color: #60666d;
}
@media (min-width: 768px) {
    .select-box {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .select-box {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .select-box {
        width: 50%;
    }
}
.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__current11:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}
.select-box__current11:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current11:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}
.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    /* display: block; */
    display: flex;
    justify-content: space-around;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.modal-header {
    padding: 1.5rem 1rem !important;
}

.btn-close {
    position: absolute;
}
.button-modal {
    margin-right: 3px;
}
.btn-primary {
    margin-left: 3px;
}

html,
body {
    min-height: 100%;
}
body {
    background: #f6f6f6 url(https://goo.gl/1yhE3P) top center no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
}
#box {
    width: 400px;
    margin: 10% auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 50px;
    box-sizing: border-box;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}
h1 {
    margin-bottom: 1.5em;
    font-size: 30px;
    color: #484548;
    font-weight: 100;
}
h1 span,
small {
    display: block;
    font-size: 14px;
    color: #989598;
}
small {
    font-style: italic;
    font-size: 11px;
}
form p {
    position: relative;
}

.password {
    width: 90%;
    padding: 15px 12px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #ddd;
    background: rgba(255, 255, 255, 0.2) !important;
    color: #555;
}
.password + .unmask {
    position: absolute;
    right: 5%;
    top: 10px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-family: "fontawesome";
    font-size: 14px;
    line-height: 24px;
    -webkit-appearance: none;
    outline: none;
}
.password + .unmask:before {
    content: "\f06e";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: rgba(205, 205, 205, 0.2);
    z-index: 1;
    color: #aaa;
    border: 2px solid;
    border-radius: 50%;
}
.password[type="text"] + .unmask:before {
    content: "\f070";
    background: rgba(105, 205, 255, 0.2);
    color: #06a;
}
#valid {
    font-size: 12px;
    color: #daa;
    height: 15px;
}
#strong {
    height: 20px;
    font-size: 12px;
    color: #daa;
    text-transform: capitalize;
    background: rgba(205, 205, 205, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

#strong span {
    display: block;
    box-shadow: 0 0 0 #fff inset;
    height: 100%;
    transition: all 0.8s;
}
#strong .weak {
    box-shadow: 5em 0 0 #daa inset;
}
#strong .medium {
    color: #da6;
    box-shadow: 10em 0 0 #da6 inset;
}
#strong .strong {
    color: #595;
    box-shadow: 50em 0 0 #ada inset;
}

/* Container */
body {
    display: flex;
    flex-direction: column;
}
/* searchable select Style */
.main_select {
    margin: 1rem;
    max-width: 225px;
    width: 100%;
    height: 250px;
    float: right;
}
@media (max-width: 34em) {
    .main {
        min-width: 150px;
        width: auto;
    }
}
select {
    display: none !important;
}
.dropdown-select {
    background-color: #5191cd;
    border-radius: 6px;
    border: solid 1px #eee;
    box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-top: 5px;
    padding-right: 30px;
    position: relative;
    text-align: center !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 44px;
    color: #fff;
    width: auto;
}
/*.dropdown-select:focus {*/
/*    background-color: #fff;*/
/*}*/
/*.dropdown-select:hover {*/
/*    background-color: #fff;*/
/*}*/

.dropdown-select:active {
    color: white;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}
.dropdown-select.open {
    color: black;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}
.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: "";
    display: block;
    color: black;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}
.dropdown-select.open:after {
    transform: rotate(-180deg);
}
.dropdown-select.open .list {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
.dropdown-select.open .option {
    cursor: pointer;
}
.dropdown-select.wide {
    width: 100%;
}
.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}
.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    transform: scale(0.75);
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
}
.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.dropdown-select .dd-search {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
.dropdown-select .dd-searchbox {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #999;
    border-color: #999;
    border-radius: 4px;
    outline: none;
    text-align: right;
    height: 41px;
}
.dropdown-select .dd-searchbox:focus {
    border-color: #12cbc4;
}
.dropdown-select .list ul {
    padding: 0;
}
.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: right;
    transition: all 0.2s;
    list-style: none;
}
.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}
.dropdown-select .option.selected {
    font-weight: 600;
    color: #12cbc4;
}
.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}
.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.dropdown-select a:hover {
    color: #666;
}
.vpd-input-group {
    width: 93% !important;
    right: 190px;
    top: -1px;
}
.card-body__occupational-group{
    display: flex;
    height: 136px;
    background: rgb(241 241 244);
}
.card-body__date-birth{
    display: flex;
    height: 136px;
    background: rgb(241 241 244);
}
.card-body__city{
    display: flex;
    height: 136px;
    background: rgb(241 241 244);
}
.dropdown-select.wide{
    width: 100%;
    left: -18px;
    bottom: -20px;
}
.date-picker{
    display: flex;
    align-items: center;
}











